.header{
    padding: 10px; /*Space above and below text*/
    /*color: #fff; /*Color of the text
    background:navy;*/
    font-variant-caps: small-caps;
    border-style:solid;
    border-color:white;
    font-size: 50px;
    text-align: center;
}

.title{
    padding: 5px; /*Space above and below text*/
    /*color: #fff; /*Color of the text
    background:rgb(66, 66, 243);*/
    font-variant-caps: small-caps;
    font-size: 35px;
    text-align: center;
}

.subtitle{
    padding: 5px; /*Space above and below text*/
    /*color: rgb(29, 13, 102); /*Color of the text
    background: white;*/
    font-variant-caps: small-caps;
    font-size: 25px;
    text-align: center;
}

.subtitle_left{
    padding: 5px; /*Space above and below text*/
    /*color: rgb(29, 13, 102); /*Color of the text
    background: white;*/
    font-variant-caps: small-caps;
    font-size: 25px;
    text-align: left;
}

.subtitle4_left{
    padding: 5px; /*Space above and below text*/
    /*color: rgb(29, 13, 102); /*Color of the text
    background: white;*/
    font-variant-caps: small-caps;
    font-size: 25px;
    text-align: left;
}

p{
    font-family: "arial";
    font-size: 15px;
    text-align: justify
}

li{
    text-align: justify
}

ul{
    list-style-position: inside;
}

img{
    /*overflow: auto;*/
    float:left;
    max-width: 300px;
    height: auto;
    margin: 0 15px 15px 0;
}

.img_logo{
    /*overflow: auto;*/
    float:left;
    max-width: 50px;
    height: auto;
    margin: 0 15px 15px 0;
}

.img_rss_logo{
    /*overflow: auto;*/
    float:left;
    max-width: 30px;
    height: auto;
    margin: 10px 10px 10px 10px;
}

th{
    font-variant-caps: small-caps;
    font-size: 15px;
    text-align: center;  
}

td{
    font-size:15px;
}

tbody.tr.th{
    font-size:10px;
}

.center-container{
    display: flex;
    align-items: center; /* Vertically centers items */
    justify-content: center; /* Horizontally centers items */
    text-align: center; /* Center-aligns text within its container */
    flex-wrap: wrap; /* Ensures items wrap on smaller screens */
    margin: 20px;
}

.center-container img {
    max-width: 300px; /* Adjust image size */
    height: auto;
    border-radius: 10px; /* Optional: Rounded corners */
    margin: 10px; /* Add spacing around the image */
}